<!-- styles -->
<link rel="stylesheet" href="/app/assets/css/styles.css?=140">
<link rel="stylesheet" href="/app/assets/css/bootstrap.css?=140">

<!-- js -->
<script type='text/javascript' src='/app/assets/js/jquery-1.10.2.min.js'></script>
<script ype='text/javascript' src='/app/assets/js/jqueryui-1.10.3.min.js'></script>
<script type='text/javascript' src='/app/assets/js/bootstrap.min.js'></script>

<nav class="navbar navbar-default">
    <div class="container">
    <ul class="nav navbar-nav">
        <li><a href="/random_story/media?type=short_story"> Short Stories</a></li>
        <li><a href="/random_story/media?type=quotation"> Quotations</a></li>
        <li><a href="/random_story/ad"> Ad</a></li>
        <li><a href="/random_story/user"> User</a></li>
        <li><a href="/random_story/setting"> Setting</a></li>
    </ul>
  </div>
</nav>
<br>
