<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css?=140">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
    <link href='/assets/demo/variations/default.css' rel='stylesheet' type='text/css' media='all' id='styleswitcher'>
    <link href='/assets/demo/variations/default.css' rel='stylesheet' type='text/css' media='all' id='headerswitcher'>
    <link rel='stylesheet' type='text/css' href='/assets/plugins/datatables/dataTables.css'>
    <link rel='stylesheet' type='text/css' href='/assets/plugins/codeprettifier/prettify.css'>
    <link rel='stylesheet' type='text/css' href='/assets/plugins/form-toggle/toggles.css'>

    <!-- js -->
    <script type='text/javascript' src='/assets/js/jquery-1.10.2.min.js'></script>
    <script ype='text/javascript' src='/assets/js/jqueryui-1.10.3.min.js'></script>
    <script type='text/javascript' src='/assets/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='/assets/js/enquire.js'></script>
    <script type='text/javascript' src='/assets/js/jquery.cookie.js'></script>
    <script type='text/javascript' src='/assets/js/jquery.nicescroll.min.js'></script>
    <script type='text/javascript' src='/assets/plugins/codeprettifier/prettify.js'></script>
    <script type='text/javascript' src='/assets/plugins/easypiechart/jquery.easypiechart.min.js'></script>
    <script type='text/javascript' src='/assets/plugins/sparklines/jquery.sparklines.min.js'></script>
    <script type='text/javascript' src='/assets/plugins/form-toggle/toggle.min.js'></script>
    <script type='text/javascript' src='/assets/plugins/datatables/jquery.dataTables.min.js'></script>
    <script type='text/javascript' src='/assets/plugins/datatables/dataTables.bootstrap.js'></script>
    <script type='text/javascript' src='/assets/demo/demo-datatables.js'></script>
    <script type='text/javascript' src='/assets/js/placeholdr.js'></script>
    <script type='text/javascript' src='/assets/js/application.js'></script>
    <script type='text/javascript' src='/assets/demo/demo.js'></script>

  </head>

  <body>
    <%- body %>
  </body>

</html>